{% load staticfiles %}

<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Formulario 1</title>
    <link rel="stylesheet" href="{% static 'css/formulario.css'%}">
  </head>
  <body>
    <h1>Formulario de Pedido</h1>
    <form  action="/mi_tienda/recepcion1/" method="post">
      {% csrf_token %}
      <label>Nombre: <label> <br>
      <input type="text" name="nombre" value="Anonimo" />
      <br>
      <label>Articulo seleccionado: <label> <br>
      <input type="text" name="articulo" value="felix" />
      <br>
      <label>Dirección de envío: <label> <br>
      <input type="text" name="direccion" value="calle mayor" />
      <br>
      <input type="submit" value="OK" />

    </form>
  </body>
</html>
